<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      ♥♥
      <% if @user %>
        by <%= @user.username %>
      <% end %>
    </title>
    <link href="http://f.fontdeck.com/s/css/zH28mslJNSfrEtk/N8vkA5GMvEQ/reading-lists.heroku.com/20863.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/application.css" type="text/css" rel="stylesheet" media="all">
  </head>
  <body>
    <%= yield %>
  </body>
</html>