<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>♥♥, by kolber</title>
    <link href="/stylesheets/application.css" type="text/css" media="all" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>